@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

img {
  color: transparent;
}

button {
  cursor: pointer;
}

.text-highlight {
  font-weight: bold;
  color: #00baa7;
}

.tag-custom {
  display: inline-block;
  transition: transform 0.2s ease, border-color 0.2s ease;
  border: 2px solid transparent;
  cursor: pointer;
}

.tag-custom:hover {
  transform: translateY(-2px);
  border-color: currentColor;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tag-active {
  display: inline-block;
  transform: translateY(-4px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
